<h1 class="container">Welcome! Please sign up</h1>



<form id="signup" name="signup" method="POST" action="/users/signup">
    <ul class="flex-outer">
        <li>
            <label for="name">First Name</label>
            <input type="text" name="firstName" placeholder="Enter your first name here" required>
        </li>
        <li>
            <label for="name">Last Name</label>
            <input type="text" name="lastName" placeholder="Enter your last name here" required>
        </li>
        <li>
            <label for="name">Email</label>
            <input type="email" name="email" placeholder="Enter your email here" required>
        </li>
        <li>
            <label for="name">Username</label>
            <input type="text" name="username" placeholder="Enter your username here" required>
        </li>
        <li>
            <label for="name">Password</label>
            <input type="password" name="password" required>
        </li>
        <li>
            <button type="submit">Submit</button>
        </li>
    </ul>
</form>